.profile {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #770531;
  color:blanchedalmond;
  padding: 10%;
  

  
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

.proLogo {
  margin-top: 10%;
  color: blanchedalmond;
  
}
/* media query for desktop */
@media screen and (min-width: 1024px) {

  .profile {
    margin: 10% 5% 0% 5%;
    height: 50vh;
    width: 50vw;
    
    
  }
}
