
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    position: fixed;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
    color: #FFFFFF;
    transition: top 0.3s;
  }



  nav span {
    font-family: 'Bungee', cursive;;
  }

  .newTweet {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .fa-angle-double-down {
    color: rgb(27, 228, 87);
  }










@media screen and (min-width: 1024px){

nav {
  background-color: #4056A1;
  z-index: 1;
  top: 0;
}



}