
#tweet-text {
  outline: none;
  outline: 0;
  border: 0;
  border-bottom: 3px solid blanchedalmond;
  background-image: none;
  background-color: rgb(27, 107, 131);
  width: 100%;
  height: 1.5em;
  color:blanchedalmond;
  
}

.new-tweet label {
  color: #770531;
  font-size: 30px;
}

.newTweetFooter {
  display: flex;
  justify-content: space-between;
}

.container button {
  background-color: #770531;
  color: #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}


.container form {
  font-weight: 600;
}

.over-limit {
  color: red;
}

#error {
color: red;
border: 3px solid red;
margin-top: 2%;
padding: 1%;
font-weight: 600;


}
/* media query for desktop */
@media screen and (min-width: 1024px) {

  .new-tweet {
    margin-top: 15%;
    margin-right: 5%;
    width: 50vw;
  }
}



  
  
  
  
  
  
  
  }