 article.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: .5em;
  border: 3px solid blanchedalmond;
  width: 100%;
  color:blanchedalmond;
  margin-bottom: 30px;
  
  
}

.new-tweet {
  color: blanchedalmond;
}


.tweet {
  background-color: rgb(27, 107, 131);
}

article.tweet:hover {
  box-shadow: 0.4em .4em 0em 0em #770531;
  -webkit-box-shadow: 0.4em .4em 0em 0em #770531;
  -moz-box-shadow: 0.4em .4em 0em 0em #770531;
}


article.tweet header {
  padding: 0.5em .25em .25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

article.tweet header div.tweet-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#userName {
  padding-left: 0.5em;
}

#handle {
  color: blanchedalmond;
}

article.tweet div.tweet-content {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: .5em;
  display: flex;
  align-items: flex-start;
  border-bottom: 4px solid blanchedalmond;;
  font-weight: 600;
}

article.tweet footer {
 padding: 1em .5em 1em;
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.icons {
  display: flex;
  justify-content: space-between;
  color:#770531;
}

.fas {
  padding-left: .4em;
}

.fas:hover {
  cursor: pointer;
  color: rgb(199, 145, 9);
}




/* media query for desktop */
@media screen and (min-width: 1024px) {

  #tweets-container {
    width: 50vw;
    margin-right: 5%;
  }
}